In [1]:
some_num = [2,4,6,8]

In [2]:
double = map(lambda x: x+x, some_num)

In [4]:
double

In [7]:
list(double)

[4, 8, 12, 16]

In [8]:
# str.upper() and str.capitalize() for upper letter capitalization

In [9]:
ls = [1,2,3,4,5,6]

In [10]:
# sorted() doesn't affect ls

In [11]:
sorted(ls)

[1, 2, 3, 4, 5, 6]

In [12]:
# sort() affects the original list
ls.sort()

In [13]:
ls

[1, 2, 3, 4, 5, 6]

In [14]:
ls.sort(reverse=True)

In [15]:
ls

[6, 5, 4, 3, 2, 1]

In [21]:
ts = [('9A',49),('9B',35),('9D', 41)]

In [22]:
ts.sort(key= lambda x:x[1])

# with key parameter we can change the alteration order

In [23]:
ts

[('9B', 35), ('9D', 41), ('9A', 49)]

In [24]:
ts.sort(key= lambda x:x[1], reverse = True)

In [25]:
ts

[('9A', 49), ('9D', 41), ('9B', 35)]

In [32]:
attd = [1,2,3,12,13,15,20]
dd_score = map(lambda x: x>10,attd)
# for string values use len(x)

In [33]:
dd_score

In [34]:
list(dd_score)

[False, False, False, True, True, True, True]

In [35]:
dd_score = filter(lambda x: x>10,attd)
# map gives exact value of the evaluation. filter selects the true values

In [36]:
list(dd_score)

[12, 13, 15, 20]

In [37]:
# sort, map, filter give a list of values
# reduce returns a single value
# we need to import reduce from functools module

In [38]:
from functools import reduce

In [39]:
# it can be used for finding sum of values of list
nums = [10,22,34,42,67]
sum_of_nums = reduce(lambda x,y: x+y, nums)

In [40]:
# instead of x+y, we can use max(), min(), etc.
sum_of_nums

175

In [41]:
# if else in lambda
# we need to read it as x, if x > 65.
grt_65 = reduce(lambda x,y: x if x>65 else y, nums)

In [42]:
grt_65

67

In [61]:
# changing nested list/tuple values based on condition
n_list = [[1,22],[2, 33 ],[3,40]]
cut_off = 35
mod_list = map(lambda x: x[1] if x[1]>cut_off else x[1] + 2,n_list)

# grace marks calculation

In [62]:
 new_marks = list(mod_list)

In [71]:
for i in range(len(new_marks)):
    n_list[i][1] = new_marks[i]
    
     
  # updating the list with grace marks.

In [72]:
n_list

[[1, 24], [2, 35], [3, 40]]

In [74]:
# lambda on list of dictionary
sales = [{'Country': 'USA', 'sale':202.5},{'Country': 'India','sale':809.2},{'Country':'China','sale':998.4}]

# segregating countries
countries = map(lambda x: x['Country'],sales)

In [75]:
list(countries)
# similarly we can do for sales amt also.

['USA', 'India', 'China']

In [76]:
sales['Country' == 'USA']

{'Country': 'USA', 'sale': 202.5}

In [77]:
# filtering to be used in conditionals
filter_Country = list(filter(lambda x : x['Country'] == 'USA',sales))

In [78]:
filter_Country

[{'Country': 'USA', 'sale': 202.5}]

In [79]:
l1 = [1,2,3,4]
l2 = [1,2,3,4]

l3 = list(map(lambda x,y : x + y, l1,l2))

In [80]:
l3

[2, 4, 6, 8]