#### Python String functions

- format is the method of string object
- other string object methods: capitalize, upper, lower, swapcase, title
- casefold()  is similar to lower but is stronger
- srting objects are immutable, so the functions return a different object

In [2]:
x = 42
s = 'Roll no. {}'.format(x)
print(s)

Roll no. 42

In [3]:
# we can also have the format inside print statement.
print('Roll no. {}'.format(x))

Roll no. 42

In [4]:
# fstring method
print(f'Roll no. {x}')

Roll no. 42

In [13]:
# format method has positional arguements
y = 'Roll no. {} and {}'.format(8,9)
print(y)

Roll no. 8 and 9

In [16]:
# we can specify the position in the curly braces
y = 'Roll no. {1} and {0}'.format(8,9)
print(y)

#  inside format, the position begin with 0

Roll no. 9 and 8

#### String formatting instructions
-  They are preceded by a :
- < represents left justification

In [1]:
x = 42
y = 33
print('the numbers are {0:<5} and {1:>2}'.format(x,y))

# the numbers get left and right justified by 5 and 2 positions

the numbers are 42    and 33

In [5]:
# we can add leading 0s or signs instead of white space
print('the numbers are {0:<05} and {1:>02}'.format(x,y))

# here no 0s for 33 as there are already two digits

the numbers are 42000 and 33

In [6]:
print('the numbers are {0:<+5} and {1:>04}'.format(x,y))

# the first number is left justified with a + in the beginning
# second number is right justified by 4 positionsin total, thus preceeded by two zeroes.

the numbers are +42   and 0033

In [8]:
# using , in the {} to show thousand seperator
print('the number is {x:,} '.format(x=42*800))

the number is 33,600

In [16]:
# specify decimal places with .f
print('the number is {x:.2f}'.format(x=54))

the number is 54.00

#### More functions

In [4]:
#swapcase() changes lower to upper and vice versa.

print('Hello World'.swapcase())

hELLO wORLD

In [12]:
# with triple quotes you can give spacing within the string
# they preserve tabs, line breaks , and white spaces

print(""" Hello 


 Hello.{}"""
     .format(2))

 Hello


 Hello.2

In [13]:
#title() capitalize first letter of every  word
s = 'my dear lolita'
s.title()

'My Dear Lolita'

####  String Concatenation

In [15]:
s1 = 'Hello '
s2 = 'This is Simi'
print(s1 + s2)

Hello This is Simi

#### String Splitting and joining

In [17]:
# string to list
s = 'This is lengthy'
s.split()

['This', 'is', 'lengthy']

In [19]:
# splitting on letter i, i is removed
s.split('i')

['Th', 's ', 's lengthy']

In [20]:
s = 'This is lengthy'
l = s.split()
j_str = ':'.join(l)

In [21]:
j_str

'This:is:lengthy'

#### Fibonacci series

In [8]:
# fibonacci series
a,b = 0,1

while b < 20:
    print(b, end ='\n',flush = True)
    a,b = b, a+b
    
# end gives space or any symbol after each print

1
1
2
3
5
8
13

#### NoneType

In [11]:
def ftn(n):
        print(n)
  

x = ftn(3)
print(x)

#  x will have the passed on value if there is explicit return statement.
# if there is no return statement, a function will return none.

3
None

#### Python class type

In [12]:
# type() function determines class type
type(a)

int

In python you need not declare the type of variable, it is autodetermined (duck typing)

In [ ]:
##### Double divide symbol gives integer division, that is you get the integer as quotient
# and remainder part is not included and type also changes accordingly.

x = 5/3
print(x)

In [19]:
x = 5//3
print(x)

1

#### Decimal Library

In [20]:
# it is advisable not to use floating points while dealing with money
x =.1 +.1 + .1 -.3
print(x)

5.551115123125783e-17

In [21]:
# instead of 0 we get a wierd result
# to avoid this we use decimal module as a workaround

In [22]:
from decimal import *

In [23]:
a = Decimal('0.1')
b = Decimal('0.3')
x = a + a +a -b
print(x)

0.0

In [25]:
# Like True and False for boolean type, we have None for NoneType
x = None
print(type(x))


# Note, it should begin with capital N, it represents absence of value

<class 'NoneType'>

In [26]:
x = None

if x:
    print('True')
else:
    print('False')
    
# similarly x=0 or x='' empty string will evaluate to false

False

#### Sequence Types in python: lists, tuples, and dictionaries

In [30]:
# simple looping around the list

x = [1,2,3,4,5]

for i in x:
    print('i is {}'.format(i))

i is 1
i is 2
i is 3
i is 4
i is 5

In [31]:
# List is mutable and supports item assignment whereas tuple is immutable, tuple has round brackets

x= (1,2,3,4)
x[1] = 6
print(x)

TypeError: 'tuple' object does not support item assignment

In [32]:
x =1,2,3
print(type(x))

# tuple need not have the round braces

<class 'tuple'>

#### Range Object

In [33]:
x = range(5)
print(type(x))

<class 'range'>

In [34]:
# Range object is also immutable
# range can have start, stop, and step as parameters.

# x[2] = 7 will give error

In [35]:
# to have changes in range values , we have to convert it into list
x = list(range(5,50,10))
print(x)

[5, 15, 25, 35, 45]

#### id(), is(), and in()

In [36]:
# id() returns unique identifier for the object.

x = (1, 'two', 3)
y = (1, 'two', 3)

print(id(x))
print(id(y))

1693808350912
1693808657536

In [37]:
print(id(x[0]))
print(id(y[0]))

# the ids are same and it is for the numeral 1

140704762898224
140704762898224

In [38]:
# you can also check theobject similarity with is method

if x[0] is y[0]:
    print('same object')
else:
    print('different object')
    
    
# we can also have is not operator, saying the objects are not same

same object

In [40]:
#to check the type of object
print(isinstance(x,tuple))

# note we do not use quotes for tuple

True

In [1]:
# similar to is operator we have in operator to check if an element is present in the collection

x = [1,2,3,4,5]

if 4 in x:
    print('present')
else:
    print('absent')
    

# we can also test not in condition

present

#### Ternary operator

In [ ]:
# here the if clause can be tested within the assignment statement

hungry = True
x = 'Feed the pet now' if hungry else 'do not feed '
print(x)

# here it is necessary include else operator

In [3]:
#### checking if loop

In [3]:

if False:
          print ('if true')
elif True:
          print ('elif true')
else:
          print ('neither true')

elif true